.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0rem 3rem;
  width: 100%;
}
.logo {
  max-width: 200px;
  object-fit: contain;
}
.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}
.link {
  position: relative;
  cursor: pointer;
  color: #c4d0dc;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-header .link .top-link {
  color: #c4d0dc;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop-link {
  color: #c4d0dc;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  gap: 10px;
}
.right-header .link .dropdown {
  position: absolute;
  gap: 10px;
  padding: 20px;
  top: 85%;
  box-shadow: 0px 0px 20px 2px black;
  display: flex;
  background-color: #121522;
  width: max-content;
  height: 150px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.drop:hover .dropdown {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}
.dropdown:hover {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.link2 p {
  color: #c4d0dc;
  font-size: 1rem;
  display: flex;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}
.link2 p,
.top-link {
  padding: 14px;
  border-radius: 7px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.link2 p:hover,
.top-link:hover {
  background-color: #31333b;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
  font-size: 1.8rem;
  color: #c4d0dc;
  cursor: pointer;
}
/* modal  */
.modal-connect {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(39, 49, 56);
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 60%;
  max-width: 850px;
  height: 400px;
  border: 1px solid rgba(195, 195, 195, 0.14);
  z-index: 3;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.modal-cont-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-align: center;
  flex-direction: column;
  padding: 24px 16px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}
.modal-box:hover .modal-cont-connect {
  background-color: rgb(16, 26, 32);
}
.modal-box:nth-child(1) {
  border-right: 1px solid rgba(195, 195, 195, 0.14);
  border-bottom: 1px solid rgba(195, 195, 195, 0.14);
}
.modal-box:nth-child(2) {
  border-bottom: 1px solid rgba(195, 195, 195, 0.14);
  border-left: 1px solid rgba(195, 195, 195, 0.14);
}
.modal-box:nth-child(3) {
  border-right: 1px solid rgba(195, 195, 195, 0.14);
  border-top: 1px solid rgba(195, 195, 195, 0.14);
}
.modal-box:nth-child(4) {
  border-top: 1px solid rgba(195, 195, 195, 0.14);
  border-left: 1px solid rgba(195, 195, 195, 0.14);
}
.modal-box img {
  max-width: 45px;
  object-fit: contain;
}
.modal-box h2 {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0.5em;
  color: rgb(199, 199, 199);
}
.modal-box p {
  width: 100%;
  font-size: 18px;
  margin: 0.333em 0px;
  color: rgb(136, 136, 136);
}
.overlay-modal-connect {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}
.open-modal-connect {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}
@media screen and (max-width: 1376px) {
  .modal-connect {
    width: 80%;
    height: auto;
    max-width: none;
  }
}
@media screen and (max-width: 874px) {
  .modal-connect {
    width: 95%;
    height: auto;
    max-width: none;
  }
  .modal-box h2 {
    font-size: 1.1rem;
  }
  .modal-box p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .modal-cont-connect {
    padding: 24px 0px;
  }
}
@media screen and (max-width: 520px) {
  .modal-box h2 {
    font-size: 1rem;
  }
  .modal-box p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 466px) {
  .modal-connect {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
/* modal end  */
@media screen and (max-width: 1046px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media screen and (max-width: 718px) {
  .header {
    padding: 0rem 1rem;
  }
  .link {
    display: none;
  }
}
@media screen and (max-width: 476px) {
  .logo {
    max-width: 100px;
  }
  .left-header {
    gap: 1rem;
  }
}
