.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  height: 100%;
  gap: 60px;
  box-shadow: 5px 0 9px -5px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.top-sidebar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.row-link {
  width: 80%;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 30px;
  align-items: center;
  padding: 12px 0px;
  padding-left: 20px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  border: 1px solid transparent;
  column-gap: 10px;
  position: relative;
  isolation: isolate;
}
.row-link p {
  pointer-events: none;
  width: 100%;
  text-transform: uppercase;
}
.row-link img {
  width: 40%;
  position: absolute;
  top: -10px;
  left: 20%;
  transform: translateX(-50%);
  z-index: -1;
}
.disabled-link {
  cursor: not-allowed !important;
  pointer-events: none !important;
}
.active {
  border-color: #24dbaf10;
  background-color: #797f81;
  color: white;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.6);
}
.row-link:hover {
  color: white;
  border-color: #24dbaf10;
  background-color: #797f81;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.6);
}
.active p {
  color: white;
}
.bottom-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #c4d1dc;
}
.bottom-sidebar a {
  color: #c4d1dc;
  transition: all 0.2s ease-in-out;
  font-size: 1.4rem;
}
.bottom-sidebar a:hover {
  color: #24dbaf;
  transform: scale(1.1);
}
.display {
  display: none;
  font-size: 2.2rem;
  color: white;
}
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0f111a;
  z-index: 2;
}
@media screen and (max-width: 1570px) {
  .row-link {
    width: 90%;
  }
}
@media screen and (max-width: 1360px) {
  .row-link {
    font-size: 1rem;
  }
  .sidebar {
    padding-left: 1.5rem;
  }
}
@media screen and (max-width: 1162px) {
  .row-link {
    font-size: 1rem;
    width: 95%;
  }
  .sidebar {
    padding-left: 0.5rem;
  }
}
@media screen and (max-width: 1046px) {
  .sidebar {
    position: fixed;
    left: -600px;
    height: 100%;
    transition: all 0.4s ease-in-out;
    top: 0;
    flex: none;
    width: 400px;
    background-color: #0f111a;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.6);
    padding-top: 30px;
    z-index: 3;
  }
  .open-sidebar {
    left: 0;
  }
  .row-link {
    width: 360px;
    font-size: 1.2rem;
    padding-left: 1.5rem;
  }
  .display {
    display: block;
    padding-left: 20px;
    font-size: 3rem;
  }
  .bottom-sidebar {
    padding-left: 1.5rem;
  }
  .right-div {
    flex: none;
    width: 100%;
  }
  .open-overlay {
    display: block;
  }
}
@media screen and (max-width: 428px) {
  .sidebar {
    width: 100%;
  }
  .row-link {
    width: 250px;
  }
  .overlay {
    z-index: 5;
    width: 40px;
    height: 100%;
    left: calc(100% - 40px);
  }
}
