.first {
  height: 100vh;
  background-color: black;
}
.text-section {
  height: 300vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 20px 30px;
  background-color: black;
}
.text-section h1 {
  line-height: 1.2;
  font-size: 6.4rem;
  color: white;
  transform: translateY(50vh);
  opacity: 0;
}
@media screen and (max-width: 1110px) {
  .text-section h1 {
    font-size: 4rem;
    transform: translateY(30vh);
  }
  .text-section {
    height: 300vh;
  }
}
@media screen and (max-width: 600px) {
  .text-section h1 {
    font-size: 3rem;
    transform: translateY(30vh);
  }
}
@media screen and (max-width: 412px) {
  .text-section h1 {
    font-size: 2rem;
    transform: translateY(30vh);
  }
  .text-section {
    height: 200vh;
  }
}
