.first {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.text-section {
  height: 100vh;
  width: 100%;
  padding: 20px 30px;
}
.text-section h1 {
  line-height: 0.85;
  font-size: 5.4rem;
  color: white;
  transform: translateY(100px);
  opacity: 0;
  text-transform: uppercase;
}
.second-section {
  max-width: 1400px;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 20px;
  margin-bottom: 200px;
}
.second-section p {
  font-size: 40px;
  color: black;
}
.second-section p span {
  opacity: 0;
  color: black;
}
.third-wrapper {
  width: max-content;
  position: relative;
  padding-top: 20px;
  height: 100vh;
  padding-left: 70px;
  pointer-events: none;
}
.pin-spacer {
  pointer-events: none;
}
.third-section {
  pointer-events: none;
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  flex-direction: column;
  height: 100%;
  margin-top: 10vh;
  width: max-content;
  pointer-events: none;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(6, 600px);
  grid-template-rows: 1fr;
  column-gap: 40px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  pointer-events: none;
}
.third-section h1 {
  font-size: 4.5rem;
  letter-spacing: -0.1rem;
  line-height: 1;
  width: 100%;
  color: white;
  opacity: 0;
  text-transform: uppercase;
  margin-top: 5px;
}

.card {
  width: 100%;
  height: 100%;
  transform: translateY(10vh);
  background-color: var(--neon-green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: black;
  flex-direction: column;
  pointer-events: all;
}
.card h1 {
  font-size: 8rem;
  width: auto;
  opacity: 1;
  color: inherit;
}
.card h2 {
  font-size: 20px;
}
.card h3 {
  font-size: 40px;
  text-align: center;
}
.card1:hover {
  animation: flicker 2s linear infinite;
}
@keyframes flicker {
  0% {
    background-color: var(--neon-green);
  }
  20% {
    background-color: var(--neon-purple);
  }
  40% {
    background-color: var(--neon-pink);
  }
  60% {
    background-color: var(--neon-blue);
  }
  80% {
    background-color: var(--neon-light-blue);
  }
  100% {
    background-color: var(--neon-green);
  }
}
.card2 {
  background-color: var(--neon-purple);
  transform: translateY(15vh);
}
.card3 {
  background-color: var(--neon-pink);
  transform: translateY(18vh);
}
.card4 {
  background-color: var(--neon-light-blue);
  transform: translateY(18vh);
}
.card5 {
  background-color: var(--neon-blue);
  transform: translateY(18vh);
}
.card6 {
  background-color: var(--neon-green);
  transform: translateY(18vh);
}
.card img {
  max-width: 50%;
  object-fit: contain;
}

.fourth-section {
  min-height: 800px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  margin-top: 4rem;
}
.fourth-section h1 {
  font-size: 6.375rem;
  color: black;
  text-transform: uppercase;
  max-width: 100%;
  line-height: 1;
}
.bottom-part {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}
.bottom-part p {
  font-size: 3.25rem;
  color: black;
  text-transform: uppercase;
  max-width: 70%;
  line-height: 1;
  font-weight: 600;
}
.cta-btn {
  padding: 13px 25px;
  background-color: black;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  border-radius: 100vh;
  line-height: 1;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
  font-weight: 500;
}
.cta-btn:hover {
  background-color: white;
  color: black;
  border-color: black;
}
.join-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: black;
  margin-top: -40vh;
  gap: 20px;
  position: relative;
  isolation: isolate;
}
.join-h1 {
  font-size: 5.375rem;
  line-height: 1;
  position: relative;
  z-index: 2;
  text-transform: capitalize;
}
.join-us p {
  font-size: 2rem;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2;
}
.row,
.join-h1 {
  opacity: 0;
}
.row img {
  max-width: 100%;
  width: 151px;
  object-fit: contain;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  padding-inline: 20px;
  height: 60px;
  z-index: 6;
}
footer h2 {
  font-size: 16px;
  line-height: 1;
}
.right-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.right-links a,
.social-links-head a {
  font-size: 25px;
  line-height: 1;
  text-decoration: none;
}
.social-links-head a {
  font-size: 30px;
}
.social-links-head {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 4;
}
.right-links a:first-child,
.social-links-head a:first-child {
  color: var(--neon-green);
}
.right-links a:nth-child(2),
.social-links-head a:nth-child(2) {
  color: var(--neon-purple);
}
.right-links a:nth-child(3),
.social-links-head a:nth-child(3) {
  color: var(--neon-pink);
}
.right-links a:nth-child(4),
.social-links-head a:nth-child(4) {
  color: var(--neon-blue);
}

@media screen and (max-width: 1500px) {
  .text-section h1 {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 1360px) {
  .fourth-section h1 {
    font-size: 80px;
    max-width: 100%;
  }
  .text-section h1 {
    font-size: 4rem;
    transform: translateY(30vh);
  }
  .bottom-part p {
    font-size: 2.25rem;
    max-width: 100%;
  }
}
@media screen and (max-width: 1110px) {
  .second-section {
    height: 100%;
    padding-inline: 40px;
  }
  .second-section p {
    font-size: 30px;
  }
  .text-section h1 {
    font-size: 3rem;
  }
  .fourth-section h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 930px) {
  .text-section h1 {
    font-size: 3rem;
  }
  .join-h1 {
    font-size: 4rem;
    text-align: center;
  }
  .row {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 840px) {
  .text-section h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 800px) {
  .card {
    /* width: 400px; */
    transform: translateY(30px);
  }
  .text-section {
    height: auto;
    min-height: 420px;
  }
  .text-section h1 {
    line-height: 1.4;
  }
  .third-wrapper {
    padding-top: 0px;
    display: flex;
    align-items: flex-end;
  }
  .third-section {
    margin-top: 0px;
    grid-template-rows: 1fr auto;
    height: 90%;
    margin-bottom: 15px;
  }
  .third-section h1 {
    font-size: 50px;
    letter-spacing: 2px;
  }
  .card-div {
    grid-template-columns: repeat(6, 375px);
    padding-top: 0px;
    align-items: flex-end;
  }
}
@media screen and (max-width: 715px) {
  .text-section h1 {
    font-size: 2.1rem;
    transform: translateY(30vh);
  }

  .second-section {
    align-items: center;
  }
  .fourth-section {
    min-height: 600px;
  }

  .bottom-part p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .text-section h1 {
    font-size: 1.8rem;
    transform: translateY(30vh);
  }
  .join-h1 {
    font-size: 3rem;
  }

  .card h1 {
    font-size: 7rem;
  }
  .card img {
    max-width: 70%;
  }
}
@media screen and (max-width: 510px) {
  .text-section h1 {
    font-size: 1.5rem;
  }
  .second-section {
    margin-top: 90px;
  }

  .second-section p {
    font-size: 26px;
  }
}
@media screen and (max-width: 450px) {
  .text-section h1 {
    font-size: 1.3rem;
  }
  .join-h1 {
    font-size: 2.3rem;
  }
  .join-us p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 400px) {
  .text-section h1 {
    font-size: 1.2rem;
  }
}
