@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Familjen Grotesk", sans-serif;
}
:root {
  --neon-green: #8ffe33;
  --neon-purple: #6833ff;
  --neon-pink: #fe33a9;
  --neon-light-blue: #33c3ff;
  --neon-blue: #32ebff;
}
.App {
  background-color: black;
  overflow: hidden;
}
body {
  overflow-x: hidden;
}
#tsparticles1,
#tsparticles2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
